html {
  scroll-behavior: smooth;
  background-color: #0A0A0A;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E50914;
}
